@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}

<td><button class="cadastrar btn btn-primary" onclick="location.href='@Url.Action("Salvar","Jogo")'">Cadastrar jogo</button></td>
@if (Model.ListaJogos.Count != 0)
{


<h2>Jogos disponíveis para locação</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width: 40%">Jogo</th>            
            <th style="width: 30%">Categoria</th>
            <th style="width: 30%">Preço</th>
        </tr>
    </thead>
    @foreach (var jogo in @Model.ListaJogos)
    {
        <tr>
            <td><a href='@Url.Action("DetalhesJogo","Jogo")/@jogo.Id'>@jogo.Nome</a></td>       
            <td>@jogo.Categoria</td>
            <td>@jogo.Preco.ToString("c")</td>
            <td><button class="btn btn-primary" onclick="location.href='@Url.Action("Manter","Jogo")'">Editar jogo</button></td>
        </tr>
    }
    <tfoot>
        <tr>
            <td>Jogo mais caro: @Model.JogoMaisCaro</td>
        </tr>
        <tr>
            <td>Jogo mais barato: @Model.JogoMaisBarato</td>
        </tr>
        <tr>
            <td>Preço médio dos jogos: @Model.PrecoMedio</td>
        </tr>
        <tr>
            <td>Total de jogos: @Model.QuantidadeJogos</td>
        </tr>
    </tfoot>
</table>
}
else
{
    <h2>Nenhum registro encontrado.</h2>
}